
body {
    background-color: rgba(220, 231, 233, 0.281);
    color: rgb(47, 69, 90);
    margin: 0px;
}
.img1 {
width: 280px;
margin-left: 7px;
}

.img2 {
    width: 700px;
    margin-right: 7px;
}
.img3 {
        width: 400px;
        margin-left: 7px;
    }

p, li {
        border: 1px dashed black;
        font-size: 25px;
        font-weight: bolder;
        text-align: center;
        line-height: 2;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 1px;
    }
    h1, h2 {
            color:rgb(47, 69, 90);
            text-shadow: 1px 1px 1px black;
    }
    
    .right-column {
        float: right;
        width: 80%;
    }

    .bordered {
        border: 1px dashed rgb(0, 0, 0);
    }
    
    .boxed {
        padding: 50px;
        margin: 28px;
    }
    
    .sized {
        width: 1300px;
        height: 200px;
    }

    .wide-box {
        width: 1300px;
        font-size: 28px;
        font-weight: bolder;
        text-align: center;
        line-height: 130%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 1px;
    }

    .left-column {
        float: left;
        width: 50%;
    }

    .borderedleft {
        border: 1px dashed rgb(5, 5, 5);
    }
    
    .boxedleft {
        padding: 55px;
        margin: 28px;
    }
    
    .sizedleft {
        width: 900px;
        height: 190px;
        font-weight: bolder;
        text-align: center;
        line-height: 130%;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 1px;
    }

    .wide-boxleft {
        width: 1000px;
        font-size: 28px;
    }

    .right-column1 {
        float: right;
        width: 77%;
    }

#header {
background-color: rgb(165, 214, 230);
position: relative;
top: -7px;

}

#header h1{
    background-color: rgb(150, 93, 138);
}

#footer {
    text-align: center;
    background-color: rgb(122, 155, 180);
    padding: 20px;
}

#img1 {
position: absolute;
top: 100px;
}